.container{
    margin: 0 auto;
    max-width: 1771px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    min-height: 1459px;

}
/*left-container*/
.input-container{
    padding: 20px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}
.input-container:hover{
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,2.5);
}

.left-container{
    height: 100%;
    width: 60%;
    padding:30px;
}

/*right style*/
.right-container{
    height: 100%;
    width: 40%;
    padding: 30px;
}

.msg-container{
    padding: 20px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
    min-height: 210px;
}
.msg-container:hover{
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,2.5);
}

.animation-container{
    margin: 37px 0;
    position: relative;
    padding: 20px;
    border-radius: 5px;
    height: 65%;
    opacity: 1;
}

.tag-container{
    min-height: 275px;
    padding: 20px;
    border-radius: 5px;
    margin-top: 38px;
}

.shadow-container{
    background: #ffffff;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}
.shadow-container:hover{
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,2.5);
}

/*Tag Style*/
.right-tag{
    width: 100px;
    height: 42px;
    font-size: smaller;
    text-align: center;
    line-height: inherit;
    margin: 0 20px 20px 0;
}

.right-tag:hover{
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}