.info{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    right: 50px;
}

.info .tag{
    width: 72px;
}


/*ArticleListCell*/
.ant-pagination{
    display: flex;
    justify-content: center;
}


.content,main::before{
    height: 12em;
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
    /*background: url("./img/sky6.jpg") 0 / cover fixed;*/
}

.content header{
    text-align: left;
    font-size: 2em;
    z-index: 1;
    position: relative;
    left: 10px;
}

blockquote p{
    text-align: left;
    position: relative;
    left:50px;
    font-size: 20px;
    font-family: inherit;
}

main{
    background: hsla(0,0%,100%,.3);
    position: relative;
    overflow: hidden;
    width:80%;
    height: 80%;
    top: 1.1em;
}

main::before{
    content:"";
    position: absolute;
    top:0;bottom: 0;left:0;right:0;
    filter:blur(20px);
    margin: -30px;
    /*background: rgba(255,0,0,.5);*/
}

.left-article{
    height: 100%;
}

.article-container{
    height: 30%;
    margin: 37px 0;
    position: relative;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}

.article-container:hover{
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,2.5);
}

.article-page{
    position: absolute;
    top: 1480px;
    width: 50%;
}

/*Content Style*/
.cell-content-text{
    margin:0;
    height: 100%;
}
/*Cell Style*/
.cell-container{
    height: 100%;
    width: 100%;
    position: relative;
    padding: 23px;
    min-height: 217px;
}

.cell-title-content{
    margin:0!important;
}

.cell-content{
    height: 75px;
    font-size: 16px;

}

.cell-foot{
    height:30px;
}
.cell-foot-line{
    margin:1px;
}

.cell-icon{
    margin-right: 8px;
}
.cell-foot-group{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell-foot-item{
    cursor: pointer;
    text-decoration: none;
    color:#595959;
    font-size: 15px;
    margin-right: 20px;
}


