/*About me*/
.about-container{
    min-height: 1000px;
    width: 100%;
    border-radius: 5px;
    padding: 0 16px;
}

.about-title{
    text-align: center;
    position: relative;
    padding-top: 27px;
}

.about-cell{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.about-content{
    font-size: 16px;
    padding: 0 16px;
}

.about-content-skill{
    margin-right: 16px;
}

/*SendComment Style*/
.comment-container{
    min-height: 300px;
    width: 100%;
    border-radius: 5px;
    margin-top: 50px;
}

.comment-content{
    position: relative;
    padding: 30px;
    height: 300px;
}

/*Send Article Style*/
.send-container{
    min-height: 1000px;
    width: 100%;
    border-radius: 5px;
    padding:16px;
}

.send-article-container{
    margin: 0 171px;
}

.article-select{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

.friend-link-content{
    background: #eeeeee;
    border-left: 15px solid #001529;
    font-size: 16px;
    font-family: 微软雅黑, 'Hiragino Sans GB', 'Microsoft Yahei', 'Microsoft Sans Serif', sans-serif;
    padding-left: 12px;
}

.editor-btn{
    margin-bottom: 20px;
    margin-right: 5px;
    cursor:pointer;
}



